node_modules/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

.nyc_output

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.tgz

.env

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

pnpm-debug.log
.pnpm-store/